{% extends "/partials/app.twig" %}
{% block content %}
<body>
<form action="/logout" method="post">
    <input type="submit" name="logout" value="Logout">
</form>
<br>
<form action="/tasks/create" method="get">
    <input type="submit" name="create" value="Create">
</form>
<br>
<h3>Your tasks:</h3>
<ul>
    {% for task in tasks.getTasks %}
        <li>
            <a href="/tasks/{{ task.getId }}">
                {{ task.title }}
            </a>
            <small>
                ({{ task.createdAt }})
            </small>
        </li>
    {% endfor %}
</ul>
</body>
{% endblock %}