{% extends "/partials/app.twig" %}
{% block content %}
<body>
<form action="/" method="POST">
    <label for="userName">New username:</label>
    <input type="text" name="userName" id="userName"><br>
    <label for="password">New password:</label>
    <input type="password" name="password" id="password"><br>
    <label for="password-confirm">Confirm password:</label>
    <input type="password" name="password-confirm" id="password-confirm"><br>
    <input type="submit" value="Register">
</form>
<a href="/">Back</a>
</body>
{% endblock %}